USE [master]
GO
/****** Object:  Database [breedr]    Script Date: 6/13/2019 12:51:04 PM ******/
CREATE DATABASE [breedr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'breedr', FILENAME = N'C:\BreedrDB\breedr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'breedr_log', FILENAME = N'C:\BreedrDB\breedr.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [breedr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [breedr]
GO
/****** Object:  Table [dbo].[BREED]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BREED](
	[breedID] [int] NOT NULL,
	[name] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[breedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOG]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOG](
	[dogID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[breedID] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[age] [int] NULL,
	[sex] [varchar](6) NULL,
	[description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[dogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[imageID] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[imageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_CLASS]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_CLASS](
	[imageClassID] [int] IDENTITY(1,1) NOT NULL,
	[imageID] [int] NOT NULL,
	[userID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imageClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATCH]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCH](
	[matchID] [int] IDENTITY(1,1) NOT NULL,
	[swipeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[matchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[dogID] [int] NOT NULL,
	[dogSID] [int] NOT NULL,
	[message] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCES]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCES](
	[prefID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[prefBreed] [varchar](50) NULL,
	[prefAge] [int] NULL,
	[prefSex] [varchar](6) NULL,
	[prefDistance] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[prefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SWIPE]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SWIPE](
	[swipeID] [int] IDENTITY(1,1) NOT NULL,
	[dogID] [int] NOT NULL,
	[dogSID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[swipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](max) NULL,
	[email] [varchar](50) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[long] [decimal](11, 8) NULL,
	[lat] [decimal](10, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOG]  WITH CHECK ADD  CONSTRAINT [FK_DOG_ToBREED] FOREIGN KEY([breedID])
REFERENCES [dbo].[BREED] ([breedID])
GO
ALTER TABLE [dbo].[DOG] CHECK CONSTRAINT [FK_DOG_ToBREED]
GO
ALTER TABLE [dbo].[DOG]  WITH CHECK ADD  CONSTRAINT [FK_DOG_ToUSER] FOREIGN KEY([userID])
REFERENCES [dbo].[USER] ([userID])
GO
ALTER TABLE [dbo].[DOG] CHECK CONSTRAINT [FK_DOG_ToUSER]
GO
ALTER TABLE [dbo].[IMAGE_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_CLASS_ToIMAGE] FOREIGN KEY([imageID])
REFERENCES [dbo].[IMAGE] ([imageID])
GO
ALTER TABLE [dbo].[IMAGE_CLASS] CHECK CONSTRAINT [FK_IMAGE_CLASS_ToIMAGE]
GO
ALTER TABLE [dbo].[IMAGE_CLASS]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_CLASS_ToUSER] FOREIGN KEY([userID])
REFERENCES [dbo].[USER] ([userID])
GO
ALTER TABLE [dbo].[IMAGE_CLASS] CHECK CONSTRAINT [FK_IMAGE_CLASS_ToUSER]
GO
ALTER TABLE [dbo].[MATCH]  WITH CHECK ADD  CONSTRAINT [FK_MATCH_ToSWIPE] FOREIGN KEY([swipeID])
REFERENCES [dbo].[SWIPE] ([swipeID])
GO
ALTER TABLE [dbo].[MATCH] CHECK CONSTRAINT [FK_MATCH_ToSWIPE]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_ToDOG] FOREIGN KEY([dogID])
REFERENCES [dbo].[DOG] ([dogID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_ToDOG]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_ToDOGS] FOREIGN KEY([dogSID])
REFERENCES [dbo].[DOG] ([dogID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK_MESSAGES_ToDOGS]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_ToUSER] FOREIGN KEY([userID])
REFERENCES [dbo].[USER] ([userID])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_PREFERENCES_ToUSER]
GO
/****** Object:  StoredProcedure [dbo].[getDogBreeds]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDogBreeds]
	@param1 varchar
AS
	SELECT * FROM BREED WHERE BREED.name = @param1
RETURN
GO
/****** Object:  StoredProcedure [dbo].[Procedure]    Script Date: 6/13/2019 12:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Procedure]
	@param1 int = 0,
	@param2 int
AS
	SELECT @param1, @param2
RETURN 0
GO
USE [master]
GO
